.simple-notification {
  opacity: 1;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  
  /* Animation on creation */
  -webkit-animation:slideIn 500ms forwards;
  -webkit-animation-delay: 500ms;
  animation: slideIn 500ms forwards;
  animation-delay: 500ms;
  
  /* Transition so all movements are smooth */
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;    
  transition: all 500ms;
}

.simple-notification.green {

}

/* Outro transition */
.simple-notification.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}


/* CSS Animations */
@keyframes slideIn {
    100% { right: 5; }
}

@-webkit-keyframes slideIn {
    100% { right: 5; }
}

@-moz-keyframes slideIn {
    100% { right: 5; }
}

@-o-keyframes slideIn {
    100% { right: 5; }
}

